@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

// ### Primary
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
//  ### Light Theme
$light-gray: hsl(0, 0%, 98%);
$light-grayish-blue-lighter: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$light-grayish-blue-dark: hsl(236, 9%, 61%);
$light-grayish-blue-superdark: hsl(235, 19%, 35%);
// ### Dark Theme
$dark-blue: hsl(235, 21%, 11%);
$dark-desaturated-blue: hsl(235, 24%, 19%);
$dark-grayish-blue-lighter: hsl(234, 39%, 85%);
$dark-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$dark-grayish-blue-dark: hsl(233, 14%, 35%);
$dark-grayish-blue-superdark: hsl(237, 14%, 26%);
// ### Font Weight
$font-weight-light: 400;
$font-weight-bold: 700;

@mixin flex-d-a-j($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
@mixin font-size-color-weight($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
