@import './base';

.header {
  width: 100%;
  @include flex-d-a-j(column, center, center);
  animation: headerAni 0.8s forwards;
  @media (max-width: 768px) {
    animation: none;
  }

  .header__heading {
    width: 100%;
    margin-bottom: 2rem;
    @include flex-d-a-j(row, center, space-between);
    p {
      @include font-size-color-weight(2.5rem, $light-gray, $font-weight-bold);
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }
    .icon--daypart {
      width: 1.7rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: rotate(-20deg);
      }
    }
  }

  .header__form {
    width: 100%;
    @include flex-d-a-j(row, flex-start, flex-start);
    .checkbox {
      transition: none;
      cursor: initial;
      .check {
        cursor: initial;
      }
      &.complete,
      &:hover {
        background: $light-grayish-blue-lighter;
        animation: none;
      }
    }
    .input {
      width: 100%;
      padding: 1.25rem 0.3rem;
      @media (max-width: 1024px) {
        padding: 1.2rem 0.3rem;
      }
      outline: 0;
      border: none;
      background-color: #fff;
      @include font-size-color-weight(
        1.2rem,
        $light-grayish-blue-superdark,
        $font-weight-light
      );

      &::placeholder {
        color: $light-grayish-blue;
        font-style: italic;
        font-size: 1rem;
      }
      &.dark {
        background-color: $dark-desaturated-blue;
        color: $dark-grayish-blue-lighter;
        &::placeholder {
          color: $dark-grayish-blue;
        }
      }
    }
  }
}

@keyframes headerAni {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
