@import './base';
@import './header';
@import './todoList';
@import './todoListItem';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
button,
input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

input {
  font-size: 1.3rem;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  @include flex-d-a-j(column, center, flex-start);
  background: no-repeat url('../assets/bg-desktop-light.jpg');
  background-size: contain;
  background-color: $light-gray;

  max-height: 100vh;
}

.container {
  width: 40%;
  @include flex-d-a-j(column, center, flex-start);
  margin: 3rem;
}

.checkbox__container {
  width: 3.7rem;
  height: 3.7rem;
  background-color: #fff;
  @include flex-d-a-j(row, center, center);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  .checkbox {
    width: 1.6rem;
    height: 1.6rem;
    @include flex-d-a-j(row, center, center);
    border-radius: 50%;
    background-color: $light-grayish-blue-lighter;
    transition: all 0.3s;
    &.completed,
    &:hover {
      background: linear-gradient(
        to right bottom,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
      animation: hoverAni 1s forwards;
    }
    .check {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      &.completed {
        background: no-repeat url('../assets/icon-check.svg') 50% 50%;
        background-size: 50%;
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

@keyframes hoverAni {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
