@import './base';

.item {
  width: 100%;
  padding: 0.3rem 0;
  border-bottom: 1.5px solid $light-grayish-blue-lighter;
  background-color: #fff;
  &.dark {
    border-bottom: 1.5px solid $dark-grayish-blue-superdark;
    background-color: $dark-desaturated-blue;
    label {
      .item__text {
        color: $dark-grayish-blue-lighter;
        &.completed {
          color: $dark-grayish-blue-dark;
          text-decoration: line-through $dark-grayish-blue-dark;
        }
      }
    }
  }
  label {
    @include flex-d-a-j(row, center, space-between);
    .item__text {
      flex: 1;
      cursor: pointer;
      @include font-size-color-weight(
        1.2rem,
        $light-grayish-blue-superdark,
        $font-weight-light
      );
      transition: color 0.8s;
      &.completed {
        @include font-size-color-weight(
          1.2rem,
          $light-grayish-blue-lighter,
          $font-weight-light
        );
        text-decoration: line-through $light-grayish-blue-lighter;
      }
      &:hover {
        opacity: 0.75;
      }
    }
    .icon--cross {
      width: 1rem;
      margin: 0 1rem;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
