@import './base';

.detail {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 5rem;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  &.active {
    display: flex;
    animation: detailUp 0.8s forwards;
  }
  &.day {
    background-color: rgba(209, 209, 209, 0.95);
    .detail__contents {
      .detail__contents__heading {
        @include font-size-color-weight(1rem, $color-black, $weight-light);
      }
      .detail__contents__text {
        @include font-size-color-weight(3rem, $color-black, $weight-bold);
      }
    }
    @media (max-width: $breakpoint-tablet) {
      flex-wrap: no-wrap;
      .detail__contents {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .detail__contents__text {
          @include font-size-color-weight(1.5rem, $color-black, $weight-bold);
        }
      }
    }
  }

  .detail__contents {
    width: 48%;
    margin: 1rem 0rem;
    .detail__contents__heading {
      @include font-size-color-weight(1rem, $color-white, $weight-light);
      margin: 0.5rem 0rem;
    }
    .detail__contents__text {
      @include font-size-color-weight(3rem, $color-white, $weight-bold);
    }
  }
  @media (max-width: $breakpoint-tablet) {
    flex-wrap: no-wrap;
    .detail__contents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .detail__contents__text {
        @include font-size-color-weight(1.5rem, $color-white, $weight-bold);
      }
    }
  }
}

@keyframes detailUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
