@import './base';
@import './components';

.header {
  @extend %desktop-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0.5rem;
  .header__logo {
    width: 11rem;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    .header__nav {
      @include hover-soft-red;
      margin-left: 1rem;
      color: $very-dark-blue;
      &.login {
        background-color: $soft-red;
        color: #fff;
        padding: 0.5rem 1.3rem;
        border-radius: 10px;
        border: 1.5px solid $soft-red;
        margin-left: 1.4rem;
        &:hover {
          box-shadow: 1px 1px 5px rgba(117, 117, 117, 0.4);
          background-color: #fff;
          color: $soft-red;
        }
      }
    }
  }
}
