@import './base';
@import './components';

.tabs {
  @extend %section-width;
  @extend %flex-centered;
  flex-direction: column;
  margin: 5rem 0;

  .tabs__menu {
    @extend %flex-centered;
    margin-bottom: 1.5rem;
    .tab {
      color: $grayish-blue;
      padding: 1.5rem;
      font-weight: 500;
      border-bottom: 2px solid rgb(197, 197, 197);
      cursor: pointer;
      &.active {
        color: $very-dark-blue;
        border-bottom: 5px solid $soft-red;
      }
      &:hover {
        color: $very-dark-blue;
      }
    }
    @media (max-width: $breakpoint-1) {
      flex-direction: column;
      width: 90%;
      .tab {
        border-bottom: 2px solid rgb(197, 197, 197);
        text-align: center;
        width: 90%;
      }
    }
  }
  .tab__container {
    display: none;
    margin: 1.5rem 0;
    &.active {
      display: grid;
      @include grid-container(50%, 50%);
      @media (max-width: $breakpoint-1) {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        grid-gap: 2rem;
        .tab__hero {
          margin: 0 auto;
          width: 70%;
        }
        .tab__content {
          & > * {
            margin-left: 0rem;
          }
        }
      }
    }

    &::before {
      content: '';
      width: 40%;
      height: 15rem;
      position: absolute;
      left: 0;
      z-index: -1;
      background-color: $soft-blue;
      border-top-right-radius: 7rem;
      border-bottom-right-radius: 7rem;
      margin-top: 15vw;
      @media (max-width: $breakpoint-2) {
        width: 70%;
        height: 10rem;
      }
    }
    .tab__hero {
      width: 100%;
    }
    .tab__content {
      & > * {
        margin-left: 2rem;
      }
    }
  }
}
