@import './base';

.map {
  width: 100vw;
  height: 80vh;
  @media (max-width: 1024px) {
    height: 70vh;
  }
  @media (max-width: $breakpoint-1) {
    height: 80vh;
  }
  .marker {
    width: 1.7rem;
    height: 2.1rem;
    opacity: 0.8;
    filter: invert(14%) sepia(98%) saturate(7129%) hue-rotate(3deg)
      brightness(93%) contrast(124%);
  }

  .loading-map {
    text-align: center;
    margin-top: 30vh;
    font-style: italic;
    color: $white;
  }
}
